<html>
    <article>

        <section id="all_login">
            <div id="login_component">

                <img src="./img/Capturar.PNG" alt="">

                <form action="">
                
                    <input type="email" id="email" name="email" placeholder="Email">
                    <input type="password" id="senha" name="senha" placeholder="Senha">

                </form>

                <button id="entrar" mat-button>Entrar</button>

                <a id="cadastro" [routerLink]="'\cadastro'">Cadastre-se</a>

            </div>

        </section>

    </article>
</html>
